/* COMMON SETTINGS, FONT AND UTILITY CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: black;
  color: #888;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: white;
}

ul {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.text-center {
  text-align: center;
}

/* UPGRADE BUTTON */
.upgrade {
  color: white;
  position: fixed;
  right: 25px;
  top: 10px;
  z-index: 1;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1.5px solid white;
  border-radius: 25px;
}

.upgrade:hover {
  font-size: 14px;
}

/* SIDEBAR */
.sidebar {
  width: 15%;
  height: calc(100% - 80px);
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-img {
  width: 140px;
}

.sidebar ul, .sidebar li {
  padding: 6px 0;
}

.sidebar li img {
  width: 25px;
  vertical-align: middle;
  margin-right: 4px;
}

.square-plus {
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  background-color: #a3a3a3;
  color: black;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
}

.list-title {
  text-transform: uppercase;
  color: white;
}

.main {
  height: 100%;
}

.sidebar-bottom * {
  margin: 6px 0;
}

.profile {
  border-top: 1px solid;
}

.profile-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a3a3a3;
  background-image: url(../img/profile.svg);
  background-position: center;
  vertical-align: middle;
  margin-right: 5px;
}

/* MUSIC BOX */
.music-box-container {
  padding-top: 70px;
  width: 85%;
  height: 100%;
  overflow-y: auto;
}

.music-box {
  background-color: #262626;
}

.box {
  background-color: red;
  border: 1px solid black;
  height: 200px;
  width: 500px;
}

/* BARRA RIPRODUZIONE MUSICA */
.music-player {
  height: 80px;
  width: 100%;
  background-color: #282828;
  position: absolute;
  bottom: 0;
}
